/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 may. 2024, 17:13:10
    Author     : Arturo
*/

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0C081B;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 20px;
    text-align: center;
}

.form-pago {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.img-p{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.div-img-p{
    width: 125px;
    /* height: 104px; */
    height: 129px;
    object-fit: cover;
    object-position: center;    
}

.div-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.conteiner-card {
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
}

.conteiner-card-t {
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
}

.div-sup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #25183A;
    box-shadow: 0px 0px 5px 4px #887192;
    border-radius: 10px;
}

.label-m {
    margin: 10px;
}

.btn-pagos {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #0C081B;
    color: #AB9DB3;
    font-size: 16px;
    cursor: pointer;
}

.btn-pagos:hover{
    background-color: #432F58;
}

.color-off{
    color: #AB9DB3;
}

.tarjetaDiv{
    background-color: rgba(0,0,0, 0.26);
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.tarjetaFondo {
    background-color: #502450;
    color: white;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalNone{
    display: none;
}

.tar-div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

.tar-div label{
    width: 140px;
    display: flex;
    justify-content: flex-end;
}

div.tar-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button.btnCerrar {
    margin: 20px 0px 20px 0px;
}

input#cardNumber {
    height: 25px;
    font-size: 14px;
    width: 140px;
}


.tar-botones button {
    cursor: pointer;
    height: 35px;
    width: 125px;
}

.tar-botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}