/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18 may. 2024, 19:47:46
    Author     : Arturo
*/

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #0C081B;
}

ul {
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

a{
    text-decoration: none;  
    color: #AB9DB3;
}

a:hover{
    color: white;
}

.div-c {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 30px;
    align-items: center;
}

.container-p {
    background-color: #25183A;
    width: 290px;
    height: 490px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 4px #887192;    
}

h2{
    margin: 0px;
    text-align: center;
}

p{
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.father-c {
    max-width: 70%;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 30px;
    justify-content: space-evenly;
}

.img-div {
    width: 250px;
    height: 325px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;    
}

.btn-div {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0C081B;
    color: #AB9DB3;
    cursor: pointer;    
}

.btn-div:hover{
    background-color: #432F58;
}

.h2-div {
    margin: 15px 0px;
}

.carrito {
    max-width: 30%;
    margin: 0 40px 0 0;
}
.global-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px auto;
    justify-content: space-around;
}
.div-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;   
    color: #AB9DB3;    
}

h3{
    text-align: center;
    margin: 0px;
}

.h3-div {
    margin: 15px 0px;
    color: #AB9DB3;
}

.container-c {
    background-color: #25183A;
    box-shadow: 0px 0px 5px 4px #887192;
    width: 290px;
    height: 120px;
    /* padding: 10px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.in-cant {
    text-align: center;
    width: 15px;
}

.btn-o {
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #AB9DB3;
}

.btn-e {
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 5px;
}

.carrito-p {
    margin: 0;
}

.img-carrito {
    width: 60px;
    height: 80px;
}

.father-carrito {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
}

.form-carrito {
    margin: 5px;
}

.global-carrito {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0px;
}

.container-pago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.btn-gencompra {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #0C081B;
    color: #AB9DB3;
    cursor: pointer;
    box-shadow: 0px 0px 5px 4px #887192;
}

.btn-gencompra:hover{
    background-color: #432F58;
}

.btn-cerrar {
    border: none;
    background-color: #0C081B;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #AB9DB3;
}

.btn-cerrar:hover{
    background-color: #432F58;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 65px;
    align-items: center;
    background-color: #25183A;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 5px 4px #887192;
}

.div-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #AB9DB3;    
}

.color-p{
    color: #AB9DB3;
}

.span-color{
    color: white;
}

.total {
    color: white;
    margin: 10px;
}